.noCitasMessage {
    color: var(--letter-color-white);
    background: none;
    font-size: var(--font-size-title);
    font-family: var(--letter-font-family-1);
    text-align: center;
    margin: 60px auto;
    padding: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.divContainerListCitas {
    display: flex;
    margin-top: calc(var(--header-height) + 70px);
    margin-bottom: 90px;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 90%;
    max-width: 600px;
    gap: var(--gap-large);
    padding: 0 var(--gap-small);
    outline: 2px solid #eff6e0;
    outline-offset: 0px;
    border-radius: 12px;
    background-color: #23283b;
    color: var(--letter-color-white);
}

/* Responsive adjustments */
@media (max-width: 767px) {
    .divContainerListCitas {
        margin-top: calc(var(--header-height) + 40px);
        margin-bottom: 135px;
        gap: var(--gap-medium);
    }
}

@media (max-width: 479px) {
    .divContainerListCitas {
        margin-top: calc(var(--header-height) + 30px);
        margin-bottom: 180px;
        gap: var(--gap-small);
        padding: 0 var(--gap-tiny);
    }
}