.divFeedScreenContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--background-color-dark);
    position: relative;
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    box-sizing: border-box;
}